@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\000038}}
body {
  width: 400px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000317}}
.station {
  height: 62px;
  line-height: 62px;
  border-top: 1px solid #b4b4b4;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000322}}
.station + .station {
  border-top: 1px solid #b4b4b4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000324}}
.station div {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000326}}
.station div.numbikes {
  color: #0000fa;
  font-size: 40px;
  width: 86px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000331}}
.station div.name {
  color: #505050;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000336}}
.station div.eta {
  color: #0000fa;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000339}}
.station.header {
  cursor: text;
  border-top: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000342}}
.station.header .numbikes {
  background: url("/images/bike.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000346}}
.station.header .name {
  color: #b4b4b4;
}
