$padding: 20px
$lightgray: rgb(180, 180, 180)
$darkgray: rgb(80, 80, 80)
$blue: rgb(0, 0, 250)
$font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$rowheight: 62px

body
  width: 450px
  // height: 660px
  // background: url("/images/mock.png")
  // height: 500px
  font-family: $font
  font-weight: 300
  padding: 0
  margin: 0

#mapcanvas
  height: 200px
  background: $lightgray

.station
  opacity: 0.6
  height: $rowheight
  line-height: $rowheight
  border-top: 1px solid $lightgray
  cursor: pointer
  &+.station
    border-top: 1px solid $lightgray
  &.active
    opacity: 1
  div
    float: left
    &.numbikes
      color: $blue
      font-size: 40px
      width: 86px
      text-align: center
    &.name
      color: $darkgray
      font-weight: bold
      font-size: 16px
      margin-right: 10px
    &.eta
      color: $blue
      font-size: 14px
    &.refresh
      color: $blue
      float: right
      cursor: pointer
      font-size: 14px
  &.header
    cursor: text
    opacity: 1
    border-top: none
    .numbikes
      background: url("/images/bike.png")
      // background: $lightgray
      // background: white
    .name
      color: $lightgray
