@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000320}}
body {
  width: 450px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  border-radius: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000328}}
#mapcanvas {
  height: 250px;
  background: #b4b4b4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000333}}
.stations {
  height: 270px;
  overflow-y: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000336}}
.station {
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000340}}
.station + .station {
  border-top: 1px solid #b4b4b4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000342}}
.station.active {
  background: #8100ec;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000345}}
.station.active div.name, .station.active div.numbikes, .station.active div.eta {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000347}}
.station div {
  float: left;
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000350}}
.station div.numbikes {
  color: #8100ec;
  font-size: 40px;
  width: 75px;
  margin-right: 10px;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000357}}
.station div.name {
  font-size: 16px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000361}}
.station div.eta {
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000364}}
.station div.toggle_all {
  color: white;
  float: right;
  cursor: pointer;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000369}}
.station.header {
  background: black;
  color: white;
  cursor: text;
  opacity: 1;
  border-top: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000377}}
.station.header .numbikes .bike_icon {
  background: url("/images/bike.png");
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin-left: 17px;
  margin-top: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000386}}
.station.header .name {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ap\/code\/citi_chrome\/app\/styles\/main\.sass}line{font-family:\0000389}}
.infoBox {
  background: blue;
}
